In [25]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [26]:
df = pd.read_csv('sig.csv')

In [27]:
df

         Time  Tx  100+Tx
0    2023/3/1   1     101
1    2023/3/2   2     102
2    2023/3/3   1     101
3    2023/3/4   0     100
4    2023/3/5   2     102
5    2023/3/6   1     101
6    2023/3/7   2     102
7    2023/3/8   0     100
8    2023/3/9   1     101
9   2023/3/10   2     102
10  2023/3/11   1     101
11  2023/3/12   2     102
12  2023/3/13   0     100
13  2023/3/14   2     102
14  2023/3/15   0     100
15  2023/3/16   1     101
16  2023/3/17   0     100
17  2023/3/18   1     101
18  2023/3/19   2     102
19  2023/3/20   0     100
20  2023/3/21   1     101
21  2023/3/22   2     102
22  2023/3/23   2     102
23  2023/3/24   1     101
24  2023/3/25   2     102
25  2023/3/26   0     100

In [28]:
df['Tx_ewm_t'] =df['100+Tx'].ewm(span=5, adjust=True, min_periods=5).mean()
df['Tx_offset'] = df['Tx_ewm_t'] - df['Tx_ewm_t'].shift(1)
df['Tx_offset_sum'] = df['Tx_offset'].cumsum()
a = list(df['Tx_offset_sum'].dropna())[0]
df['Tx_offset_sum_final'] = df['Tx_offset_sum'] - a

In [29]:
df

,Time,Tx,100+Tx,Tx_ewm_t,Tx_offset,Tx_offset_sum,Tx_offset_sum_final
0,2023/3/1,1,101,NaN,NaN,NaN,NaN
1,2023/3/2,2,102,NaN,NaN,NaN,NaN
2,2023/3/3,1,101,NaN,NaN,NaN,NaN
3,2023/3/4,0,100,NaN,NaN,NaN,NaN
4,2023/3/5,2,102,101.241706,NaN,NaN,NaN
5,2023/3/6,1,101,101.153383,-0.088323,-0.088323,0.000000
6,2023/3/7,2,102,101.453133,0.299749,0.211426,0.299749
7,2023/3/8,0,100,100.949088,-0.504045,-0.292618,-0.204295
8,2023/3/9,1,101,100.966512,0.017424,-0.275194,-0.186872
9,2023/3/10,2,102,101.317087,0.350576,0.075381,0.163704
10,2023/3/11,1,101,101.210155,-0.106932,-0.031551,0.056772
11,2023/3/12,2,102,101.475482,0.265326,0.233776,0.322098
12,2023/3/13,0,100,100.981114,-0.494367,-0.260592,-0.172269
13,2023/3/14,2,102,101.321910,0.340796,0.080204,0.168527
14,2023/3/15,0,100,100.880265,-0.441645,-0.361441,-0.273118
15,2023/3/16,1,101,100.920238,0.039973,-0.321469,-0.233146
16,2023/3/17,0,100,100.613180,-0.307057,-0.628526,-0.540203
17,2023/3/18,1,101,100.742207,0.129027,-0.499499,-0.411176
18,2023/3/19,2,102,101.161661,0.419453,-0.080045,0.008277
19,2023/3/20,0,100,100.774324,-0.387337,-0.467382,-0.379059
20,2023/3/21,1,101,100.849564,0.075240,-0.392142,-0.303819
21,2023/3/22,2,102,101.233094,0.383530,-0.008612,0.079711
22,2023/3/23,2,102,101.488752,0.255658,0.247046,0.335369
23,2023/3/24,1,101,101.325825,-0.162927,0.084119,0.172442
24,2023/3/25,2,102,101.550559,0.224734,0.308853,0.397176
25,2023/3/26,0,100,101.033692,-0.516867,-0.208014,-0.119691